<h1>Edit This Post</h1>

<!-- Rails will look into our current folder for
     a _form.html.erb to render here.
     
     Short form with no local variable creation:
     <%= render 'form' %>
-->
    
<%= render :partial => 'form', :locals => { :button_text => 'Update Post' }  %>

<p><%= link_to 'Back to All Posts', posts_path %></p>