<h1>Create a Post</h1>

<!-- Rails will look into our current folder for
     a _form.html.erb to render here. -->
     
<%= render :partial => 'form', :locals => { :button_text => 'Create Post' }  %>

<p><%= link_to 'Back to All Posts', posts_path %></p>

